@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');


.sidebar {
  position: fixed;
  top: 0;
  left: -300px; /* La barre est initialement cachée */
  width: 300px;
  height: 100%;
  background-color: white;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.show {
  left: 0; /* La barre s'affiche lorsque la classe 'show' est ajoutée */
}

.sidebar a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #333; /* Couleur de survol */
}

/* global.css */
/* Vos styles globaux ici */

.mt-navbar {
  margin-top: 110px; /* Exemple de style global */
}

/* Autres styles globaux */
